<h2>Welcome to Payments Management System</h2>
<h4 style="border-bottom: 1px solid">{{title}}</h4>
        <div>
            <b>Structured Data</b> 
        </div>
        <div>
            <div>{{data}}</div> 
        </div>